/*** General HTML definitions ***/
html, body{
	width: 100%;
	height: 100%;
}
.ws_body {
	font-family:Verdana,Sans-serif;
	font-size: 70%;
	background-color: #F2F2F2;
	margin: 0px;
	background-image: url(images/logingradient.psvg);
	overflow: hidden;
}
.ws_body a {
	text-decoration: none;
  	font-weight: normal;
}
.ws_body a:hover {
	/*text-decoration: underline;*/
	font-weight: bold;
}
form{
	margin: 0;
	padding: 0;
}

/* Main Layout Definition Begin */
div.ws_head{
	position: relative;
	height: 93px;
	background: #F2F2F2 url(images/bg_head.gif) repeat-x;
	padding: 0;
	margin: 0;
}

/* App Logo */
div.ws_head div.wf_appdecor{
	position: absolute;
	top: 0;
	left: 0;
	width: 96px;
	height: 31px;
	background: url(images/eplatform.gif) no-repeat;
}
div.ws_head div.ws_appinfo{
	float: left;
	margin: 32px 0 0 0;
	padding: 8px 0 0 5px;
}

/* Tabbar Inside ws_head */
div.ws_head ul.wf_tabbar, 
div.ws_head ul.wf_tabbar li{
	list-style: none;
	margin: 0;
	padding: 0;
}
div.ws_head ul.wf_tabbar{
	margin-top: 60px;
	float: right;
}
div.ws_head ul.wf_tabbar li{
	float: left;
	background: url(images/tabbar/bg_item_left.gif) left top no-repeat;
}
div.ws_head ul.wf_tabbar li a{
	padding: 8px 12px 0;
	margin: 0 0 0 2px;
	float: left;
	height: 21px;
	font-weight: bold;
	color: #575757;
}
div.ws_head ul.wf_tabbar li a:hover{
	background: url(images/tabbar/bg_item_main_hover.gif) repeat-x;
}

div.ws_head ul.wf_tabbar li.wf_tabbarbuttonselected{
	background: url(images/tabbar/bg_item_left_selected.gif) left top no-repeat;
}
div.ws_head ul.wf_tabbar li.wf_tabbarbuttonselected a,
div.ws_head ul.wf_tabbar li.wf_tabbarbuttonselected a:hover
{
	font-weight: bold;
	background: url(images/tabbar/bg_item_right_selected.gif) right top no-repeat;
}

div.ws_layout_twocolumn{
	background: #F2F2F2;
}

/* Left menu */
div.ws_functionmenu{
	position: absolute;
	top: 93px;
	bottom: 4px;
	left: 0;
	width: 202px;
	background: url(images/bg_left.gif) repeat-y;

/* IE fix for non support for bottom:0  */
	height: expression(
	(
	document.body.clientHeight) ?
	document.body.clientHeight - 97 + 'px'
	:
	document.documentElement.clientHeight - 97 + 'px'
	);
}

html>body div.ws_functionmenu{
	height: auto;
}
div.ws_helpdesk div.wf_tabbarmainarea{
	margin: 0;
	padding: 0;
}
div.ws_helpdesk div.wf_container{
	margin: 0;
	padding: 20px 12px;
	color: #797979;
}
div.ws_helpdesk div.wf_container h3{
	margin: 0 0 5px;
	padding: 0;
	color: #797979;
	font-size: 1.1em;
}
div.ws_helpdesk div.wf_block{
	border-bottom: none;
}
div.ws_functionmenu div.ws_divider{
	height: 4px;
	background: #F2F2F2;
	font-size: 0;
}
div.ws_functionmenu div.ws_bottom{
	position: absolute;
	bottom: -1px;
	margin: 0 4px;
	width: 194px;
	background: #D7D7D7;
	height: 1px;
	font-size: 0;
	line-height: 0;
}
html>body div.ws_functionmenu div.ws_bottom{
	bottom: 0;
}

div.ws_smallloginbox{
	position: absolute;
	right: 0;
	padding: 0 0 0 25px;
	width: 400px;
	color: #fff;
	background: #4C627D url(images/smallloginbox/bg_left.gif) left bottom no-repeat;
	font-size: 0.9em;
	font-weight: bold;
}
div.ws_smallloginbox input{
	margin: 0;
	padding: 0;
	background: #38485C;
	color: #fff;
	font-size: 0.9em;
	border: 1px solid #6F89A8;
}

/* Main Layout Definition Begin */


/***Workspace Begin***/
div.ws_layout_twocolumn div.ws_main{
	margin: 0 0 0 202px;
}
div.ws_main .wf_block.BlockStretch{
	height: expression(
	(
	document.body.clientHeight) ?
	document.body.clientHeight - 98 + 'px'
	:
	document.documentElement.clientHeight - 98 + 'px'
	);
	width: expression(
	(
	document.body.clientWidth) ?
	document.body.clientWidth - 225 + 'px'
	:
	document.documentElement.clientWidth - 225 + 'px'
	);
	overflow-y: scroll;
}
html>body div.ws_main .wf_block.BlockStretch{
	position: absolute;
	top: 93px;
	bottom: 4px;
	left: 202px;
	right: 0;
	margin-bottom: 0;
	overflow: scroll;
	overflow:-moz-scrollbars-vertical;
}
/*
.ws_main{
	padding:1px;
}

.ws_functionmenu{
	position:absolute;
	width:200px;
	top:7.5em;
	left:0em;
}

.ws_layout_twocolumn, .ws_layout_onecolumn{
	width: 100%;
	height: 100%;
	margin: 0px 0px 0px 0px;
	height:600px;
}

.ws_layout_onecolumn .ws_functionmenu{
	display:none;
}

.ws_layout_onecolumn .ws_main{
	margin: 7.5em 1em 1em 1em;
}

.ws_layout_twocolumn .ws_main{
	margin: 7.5em 0em 0em 200px;
}

.ws_layout_twocolumn .ws_main .wf_block,.ws_layout_twocolumn .ws_main .wf_frame{
	/*** Eliminating double margins between the columns:***/
	/*
	margin-left: 0px;
}

.wf_workspacebar{
	background-color:#38485C;
	#color: white;
	height: 32px;
	border-bottom: 10px;
	border-color: #42556D;
}

.wf_appdecor{
	display:block;
	height: 32px;
	width: 100px;
	background-image: url(images/eplatform.gif);
	background-repeat: no-repeat;
}

.wf_appdecor i{
	color: orange;
}

.ws_appinfo{
	display:block;
	height: 23px;
	background-color: white;
	font-size: 1.5em;
	padding: 5px 5px 5px 25px;
	background-image: url(images/appinfo_tile.gif);
	background-repeat: repeat-x;
}

.ws_smallloginbox{
	position:absolute;
	top:0px;
	right:0px;
	height:28px;
	width:300px;
	color:white;
	background-color: #4C627D;

}

*/
.wf_login{
	margin: 100px;
	color: white;
	display:inline;
}


.ws_loginpage{
	margin: 0px;
	padding: 30px;
	/***background-image: url(images/background9.jpg);***/
	background-color: #F2F2F2;
	background-image: url(images/logingradient.psvg);
}

.ws_mainloginbox{

	width:400px;
	height:400px;
	margin: 0px;
	padding:50px;
	background-position: center center;
	background-repeat: no-repeat;
	border:none;
	background: url(images/idegalogin.psvg);
	
	
	/***IE TRANSPARENCY HACKS***/
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../idegaweb/bundles/com.idega.workspace.bundle/resources/style/images/idegalogin.psvg',sizingMethod='scale');
}

.ws_mainloginbox * {
	/***IE TRANSPARENCY HACKS - This is to make the form/link elements response over the div ***/
	position:relative;
}

.ws_mainloginbox2{
	width: 500px;
	height: 500px;
	margin: 0px;
	padding: 50px;
	
	background: url(images/idegalogin.png);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/idegalogin.png', sizingMethod='scale');

	background-position: center center;
	background-repeat: no-repeat;
	
	/***background-color: rgba(255,255,255,0.55);***/
	/***
		background-color: white;
        filter:alpha(opacity=60);
        -moz-opacity:0.6;
        opacity: 0.6;
    ***/
}

.ws_mainloginbox input {
	color:black;
}

.ws_mainloginbox,.ws_mainloginbox *{
	font-size: 4px;
	color:white;
	font-family:Verdana,Sans-serif;
  	font-size:1em;
  	/***
  	text-shadow: 4px 4px 10px #DDDDDD;
  	***/
}

.ws_mainloginbox,.ws_mainloginbox div{
	margin: 5px;
}

.ws_mainloginbox .productinfo{
	margin: 15px;
	font-size:2em;
}

.ws_mainloginbox .buildid{
	font-size:0.7em;
}

.ws_mainloginbox .copyrighttext{
	display: none;
}

/***Workspace End***/