
/*** General HTML definitions ***/

/*Workspace Begin*/

.ws_head{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 55em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
	width: 100%;
	height: 2em;
}

.ws_functionmenu{
	position:absolute;
	width:200px;
	top:4.5em;
	left:0em;
}

.ws_main{
	position:absolute;
	/***top:4em;***/
	/***left:20em;***/
	margin: 4.5em 0em 0em 200px;
}

/** hacks to get full width effect BEGIN**/
.ws_main .wf_frame {
	margin: 0em 0em 0em -200px;
}

.ws_main .wf_frame .wf_titlebar{
	visibility: hidden;
	margin-top:-20px;
}
/** hacks to get full width effect END**/

.wf_workspacebar{
	background-color:#38485C;
	#color: white;
	height: 32px;
	border-bottom: 10px;
	border-color: #42556D;
}

.wf_appdecor{
	display:block;
	height: 32px;
	width: 100px;
	background-image: url(images/eplatform.gif);
	background-repeat: no-repeat;
}

.wf_appdecor i{
	color: orange;
        
}

.wf_login{
	margin: 20px;
	color: white;
	font-size: 12px;
	display:inline;
}

/*Workspace End*/